/* Coolors Exported Palette - https://coolors.co/eae0d5-27241c-555645-fcdcb9-d3bea9 */

/* CSS HEX */
--almond-cream: #EAE0D5ff;
--carbon-black: #27241Cff;
--ebony: #555645ff;
--soft-apricot: #FCDCB9ff;
--pale-oak: #D3BEA9ff;

/* CSS HSL */
--almond-cream: hsla(31, 33%, 88%, 1);
--carbon-black: hsla(44, 16%, 13%, 1);
--ebony: hsla(64, 11%, 30%, 1);
--soft-apricot: hsla(31, 92%, 86%, 1);
--pale-oak: hsla(30, 32%, 75%, 1);

/* SCSS HEX */
$almond-cream: #EAE0D5ff;
$carbon-black: #27241Cff;
$ebony: #555645ff;
$soft-apricot: #FCDCB9ff;
$pale-oak: #D3BEA9ff;

/* SCSS HSL */
$almond-cream: hsla(31, 33%, 88%, 1);
$carbon-black: hsla(44, 16%, 13%, 1);
$ebony: hsla(64, 11%, 30%, 1);
$soft-apricot: hsla(31, 92%, 86%, 1);
$pale-oak: hsla(30, 32%, 75%, 1);

/* SCSS RGB */
$almond-cream: rgba(234, 224, 213, 1);
$carbon-black: rgba(39, 36, 28, 1);
$ebony: rgba(85, 86, 69, 1);
$soft-apricot: rgba(252, 220, 185, 1);
$pale-oak: rgba(211, 190, 169, 1);

/* SCSS Gradient */
$gradient-top: linear-gradient(0deg, #EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);
$gradient-right: linear-gradient(90deg, #EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);
$gradient-bottom: linear-gradient(180deg, #EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);
$gradient-left: linear-gradient(270deg, #EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);
$gradient-top-right: linear-gradient(45deg, #EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);
$gradient-bottom-right: linear-gradient(135deg, #EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);
$gradient-top-left: linear-gradient(225deg, #EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);
$gradient-bottom-left: linear-gradient(315deg, #EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);
$gradient-radial: radial-gradient(#EAE0D5ff, #27241Cff, #555645ff, #FCDCB9ff, #D3BEA9ff);